canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
}
#title {
    color: black;
    background-color: rgb(0, 119, 255);
}
body {
    background-image: url(../assets/photos/images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

table,
td {
    border: 1px solid red;
    background-color: orange;
    width: 500px;
    height: 150px;
}
h2 {
    border: 1px solid red;
    background-color: orange;
    width: 400px;
    height: 50px;
    font-size: 4vh;
    color: black;
}
h1 {
    text-align: center;
    color: black;
}

.btn {
    background-color: black;
    color: orange;
    height: 50px;
    width: 75px;
    font-size: 12px;
}
#count {
    border: 1px solid red;
    background-color: orange;
    width: 100px;
    height: 50px;
    font-size: 2vh;
    color: black;
}
#won {
    border: 1px solid red;
    background-color: orange;
    width: 100px;
    height: 75px;
    font-size: 4vh;
    color: black;
}
p {
    border: 1px solid red;
    background-color: orange;
    width: 400px;
    height: 40px;
    font-size: 2vh;
    color: black;
}
