canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
}
#title {
    color: black;
    background-color: rgb(0, 119, 255);
}
body {
    background-image: url(../assets/photos/images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
